# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
*.cover
.cache
.pytest_cache/

# Environments
.env
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Editor folders and files
.vscode/
.idea/

# Streamlit config folder
.streamlit/

# PyCharm
*.iml
*.iws
*.ipr

# MacOS files
.DS_Store

# Generated summary files (optional)
*.pdf
*.txt
